# Basic Data Types

### Integers

In [1]:
10

10

In [2]:
-10

-10

there is no limit to how large an integer can be

In [3]:
9999999999999999999999999999999999999999999999999999999999999999999+1

10000000000000000000000000000000000000000000000000000000000000000000

### Floating point numbers

In [4]:
4.2

4.2

In [5]:
10.

10.0

In [6]:
.2

0.2

In [7]:
3e7

30000000.0

The `type()` function can be used to check the data type of any value.

In [8]:
type(5e9)

float

In [9]:
1.79e308

1.79e+308

Floats have a maximum value they can represent.
This is beyond the limit and results in 'inf' (infinity).

In [10]:
1.8e308

inf

In [11]:
5e-324

5e-324

They also have a minimum precision near zero.

In [12]:
1e-324

0.0

Floating-point arithmetic is not always 100% precise. Because computers store floats in binary, some decimal numbers can't be represented perfectly. This is why the following comparison is False. The result of 1.1 + 2.2 is actually something like 3.3000000000000003.

In [13]:
1.1 + 2.2 == 3.3

False

### Complex number

In [14]:
4 + 5j

(4+5j)

In [15]:
type(2-5j)

complex

### String

In [16]:
"This string contains a single quote (') character."

"This string contains a single quote (') character."

In [17]:
'This string contains a single quote (\') character.'

"This string contains a single quote (') character."

In [18]:
'\u2192' # Unicode

'→'

In [19]:
print('''This string has a single (') and a double (") quote.''')

This string has a single (') and a double (") quote.

In [20]:
# print("hello
# world")

In [21]:
print("""This is a
string that spans
across several lines""")

This is a
string that spans
across several lines

### Boolean

In [22]:
True

True

In [23]:
False

False

# Variables

### Variable assignment

Python is dynamically typed, meaning a variable can be reassigned

In [24]:
n = 300

In [25]:
n

300

In [26]:
a = 4.6

In [27]:
a = "salam man yek string hastam"

In [28]:
print(a)

salam man yek string hastam

1. Must start with a letter or underscore (_).
2. Cannot start with a number.
3. Can only contain letters, numbers, and underscores (A-z, 0-9, _).
4. Are case-sensitive (age, Age, AGE are different variables).
5. Cannot be a Python keyword (like 'def', 'if', 'class').

In [29]:
# 1a = 1
# a@ = 1
# def = 4  --> keyword

#### Multiple Assignment

In [30]:
a, b = 1, 2
print("a is :", a)
print("b is :", b)

a is : 1
b is : 2

Simple swap code

In [31]:
a, b = b, a
print("a is now:", a)
print("b is now:", b)

a is now: 2
b is now: 1

# Operators

### Simple Arithmetic Operators

In [32]:
print(1 + 2)    # Addition
print(1 - 2)    # Subtraction
print(1 * 2)    # Multiplication
print(4 / 3)    # Division (always results in a float)
print(4 // 3)   # Floor Division (discards the fractional part)
print(3**2)     # Exponent (3 to the power of 2)
print(16 % 3)   # Modulus (returns the remainder of the division)

3
-1
2
1.3333333333333333
1
9
1

### Comparison Operators

In [33]:
print(1 == 2)   # Equal
print(1 != 2)   # Not equal
print(1 > 2)    # Greater than
print(1 >= 2)   # Greater than or equal to

False
True
False
False

### Logical Operators

In [34]:
print((1 < 5) and (6 < 3)) # 'and' is True only if both sides are True
print((1 > 5) or (6 > 3))  # 'or' is True if at least one side is True
print(not (1 > 5))         # 'not' inverts the boolean value

False
True
True

### Assignment Operators

In [35]:
x = 10
x = x + 2 # The long way
x += 2    # The short way (x is now 14)
x -= 3    # x is now 11
x *= 2    # x is now 22
x /= 2
x //= 2
x **= 2
x %= 2
print(x)

1.0

### Membership Operators

In [36]:
'a' in 'ali'

True

In [37]:
'h' not in 'salam'

True

In [38]:
'AIC' in 'SBU-AIC'

True

# Basic String Operations

### Concatenation

In [39]:
name = "Jack"
last_name = "White"
full_name = name +" "+ last_name

In [40]:
print(full_name)

Jack White

### Indexing and Slicing

In [41]:
full_name[1]

'a'

Gets the second to last character.

In [42]:
full_name[-2]

't'

Gets characters from index 2 up to (but not including) 5.

In [43]:
full_name[2:5]

'ck '

You can omit parts of the slice.

In [44]:
print(full_name[:5])    # From the beginning up to index 5.
print(full_name[5:])    # From index 5 to the end.

Jack
White

A step of -1 is a common trick to reverse a string.

In [45]:
print(full_name[::-1])

etihW kcaJ

string[start:stop:step]

In [46]:
a='12345'
a = a*3

In [47]:
a

'123451234512345'

In [48]:
a[::5]

'111'

### String Length

The `len()` function gets the length (number of characters) of a string.

In [49]:
len(full_name)

10

# Input

The `input()` function prompts the user for input and reads a line of text.
CRITICAL: `input()` always returns a string.

In [50]:
user_text = input("Enter some text: ")
print(type(user_text))

<class 'str'>

To perform math, you must convert the string input to a number type.
This is called "type casting".

In [51]:
age_str = input("How old are you? ")
age = int(age_str) # Cast the string to an integer
print("In 25 years, you will be:", age + 25)

In 25 years, you will be: 47

The `print()` function can take multiple arguments.

In [52]:
print("I am", age, "years old")

I am 22 years old

# Advanced Data Structures

These structures are used to store collections of data.

### Lists
Lists are ordered, changeable (mutable), and can contain duplicate items of any data type. They are created with square brackets [].

In [53]:
x = [1, 2, 2.5, "salam", [43,34]]

A list can contain other lists, creating a nested structure.

In [54]:
nested_list = [[2, 2], [4, [5]], [[[[[14]]]]]]

In [55]:
x[2] = 3

In [56]:
x

[1, 2, 3, 'salam', [43, 34]]

In [57]:
x[:3]

[1, 2, 3]

In [58]:
x.append("2")

In [59]:
x.pop()

'2'

In [60]:
x

[1, 2, 3, 'salam', [43, 34]]

In [61]:
'salam' in x

True

#### Sorting Lists

In [62]:
unsorted_list = [1, 2, 50, 12, 99, -46]

`sorted()` is a function that returns a NEW sorted list, leaving the original unchanged.

In [63]:
print(sorted(unsorted_list))
print("Original list is still:", unsorted_list)

[-46, 1, 2, 12, 50, 99]
Original list is still: [1, 2, 50, 12, 99, -46]

`.sort()` is a method that sorts the list IN-PLACE (modifies the original) and returns None.

In [64]:
unsorted_list.sort(reverse=True) # Sorts in descending order
print("Original list is now sorted:", unsorted_list)

Original list is now sorted: [99, 50, 12, 2, 1, -46]

You can concatenate lists with the '+' operator.

In [65]:
list1 = [1, -1, 5, 4]
list2 = [2, 7, 0, -2]
list3 = list1 + list2

##### List Comprehensions

A concise and "Pythonic" way to create lists.

In [66]:
my_list = [1, 2, 3, 4, 5]

In [67]:
new_list_comp = [item + 10 for item in my_list]
print("From comprehension:", new_list_comp)

From comprehension: [11, 12, 13, 14, 15]

In [68]:
new_list_loop = []
for item in my_list:
    new_item = item + 10
    new_list_loop.append(new_item)
print("From loop:", new_list_loop)

From loop: [11, 12, 13, 14, 15]

### Tuples
Tuples are ordered but UNCHANGEABLE (immutable). They are created with parentheses ().
 They are slightly more memory-efficient than lists and are used for data that should not be changed.

In [69]:
my_tuple = (1,2,3,4)

In [70]:
my_tuple[2]

3

This line will cause a TypeError because you cannot change a tuple's elements.

In [71]:
# my_tuple[2] = 4

### Sets
Sets are unordered, mutable collections with NO DUPLICATE elements.
 They are created with curly braces {}.

In [72]:
my_set = {2,4,5,"hello"}

In [73]:
my_set.add(25)

In [74]:
my_set

{2, 25, 4, 5, 'hello'}

Sets are highly optimized for membership testing.

In [75]:
print(1 in my_set)

False

### Set vs List
Set vs. List Performance for Membership Testing
 Checking if an item is 'in' a set is much faster than checking a list,
 especially for large collections. Sets use a hash table for instant lookups,
 while lists may have to check every single element.
 The code below demonstrates this by searching a collection of 10 million items.

In [76]:
import time
import random

# Create a large list and set with the same elements
size = 10000000
sample_list = list(range(size))
sample_set = set(range(size))

# Element to search for (near the end to simulate worst-case scenario)
target = size - 1

# Measure time for list search
start_time = time.time()
list_result = target in sample_list
list_time = time.time() - start_time

# Measure time for set search
start_time = time.time()
set_result = target in sample_set
set_time = time.time() - start_time

# Print results
print(f"List search time: {list_time:.6f} seconds")
print(f"Set search time: {set_time:.6f} seconds")
print(f"Set is {list_time/set_time:.2f}x faster" if set_time > 0 else "Set is infinitely faster")
print(f"Element {target} found in list: {list_result}")
print(f"Element {target} found in set: {set_result}")

List search time: 0.093096 seconds
Set search time: 0.000035 seconds
Set is 2638.34x faster
Element 9999999 found in list: True
Element 9999999 found in set: True

### Dictionary
Dictionaries store data in key-value pairs.
 They are ordered (as of Python 3.7), mutable, and do not allow duplicate keys.
 They are highly optimized for retrieving a value when you know its key.

In [77]:
my_dict = {"Jack":"White",
           "Sara":"Single",
           "sib":50,
           "Apple":23,
           12:15,
           14:"salam"}

In [78]:
my_dict.keys()

dict_keys(['Jack', 'Sara', 'sib', 'Apple', 12, 14])

In [79]:
my_dict.values()

dict_values(['White', 'Single', 50, 23, 15, 'salam'])

In [80]:
my_dict.items()

dict_items([('Jack', 'White'), ('Sara', 'Single'), ('sib', 50), ('Apple', 23), (12, 15), (14, 'salam')])

In [81]:
my_dict[12]

15

In [82]:
new_dict = {1:1}
new_dict["name"] = "Mohammad" # Add
print(new_dict)
new_dict.pop(1) # remove item
print(new_dict)

{1: 1, 'name': 'Mohammad'}
{'name': 'Mohammad'}

# Control Flow

### Conditional Statements (if/elif/else)
Indentation is very important here.

In [83]:
a = 5
if a == 5:
    print("a is 5")
    print("a was 5")
    a = 6
    if a == 6:
        print("a is 6 now")

a is 5
a was 5
a is 6 now

In [84]:
statement = False
if statement:
    print("if condition")
else:
    print("else")

else

In [85]:
a = 35
if a == 25:
    print("a is 25")
elif a == 30:
    print("a is 30")
elif a == 35:
    print("a is 35")

a is 35

### Loops

##### `while` loop

In [86]:
x = 1
while x < 5:
    x +=1
    print(x)

2
3
4
5

You can use `break` to exit a loop prematurely.

In [87]:
while True: 
    print("This loop will run once.")
    break

This loop will run once.

##### `for` loop

In [88]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

In [89]:
usernames = ["nima","sara","akbar","narges"]
for username in usernames:
    print(username)

nima
sara
akbar
narges

In [90]:
my_dict = {'Amir':1,"Saeid":2,"Fatemeh":3}

In [91]:
for key, value in my_dict.items():
    print(key,value)

Amir 1
Saeid 2
Fatemeh 3

`enumerate()` is useful when you need both the index and the item.

In [92]:
for i , username in enumerate(usernames):
    print(i, username)

0 nima
1 sara
2 akbar
3 narges

# Functions

In [93]:
def factorial(n):
    '''
    This is a docstring. It explains what the function does.
    It takes an integer n and returns its factorial (n!).
    This is a recursive function because it calls itself.
    '''
    if n == 0:
       return 1

    return n * factorial(n-1)

In [94]:
print(factorial(5))

120

Functions can return multiple values, which are packed into a tuple.

In [95]:
def temp():
    return 1, 2, 3

We can "unpack" the tuple into multiple variables.

In [96]:
a, b, c = temp()

In [97]:
a

1

# Classes

The `__init__` method is a special "constructor" that runs when an object is created.`self` refers to the instance of the class itself.

In [98]:
class Person:

    def __init__(self, name, age):
        self.name = name # 'name' is an attribute of the object
        self.age = age   # 'age' is another attribute

    def introduce(self):
        # f-strings (formatted string literals) are a modern way to embed expressions inside strings.
        print(f'Hi! I\'m {self.name}.')

In [99]:
p1 = Person('Jack', 10)
p1.introduce()

Hi! I'm Jack.