In [1]:
import numpy as np
import pandas as pd
import os ,sys

# Preprocessing data

In [2]:
df =  pd.read_csv(rf"data/loan_data.csv")
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [3]:
# getting describtion of the datas
#   like mean and etc...
df.describe()

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
count,45000.000000,4.500000e+04,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000,45000.000000
mean,27.764178,8.031905e+04,5.410333,9583.157556,11.006606,0.139725,5.867489,632.608756,0.222222
std,6.045108,8.042250e+04,6.063532,6314.886691,2.978808,0.087212,3.879702,50.435865,0.415744
min,20.000000,8.000000e+03,0.000000,500.000000,5.420000,0.000000,2.000000,390.000000,0.000000
25%,24.000000,4.720400e+04,1.000000,5000.000000,8.590000,0.070000,3.000000,601.000000,0.000000
50%,26.000000,6.704800e+04,4.000000,8000.000000,11.010000,0.120000,4.000000,640.000000,0.000000
75%,30.000000,9.578925e+04,8.000000,12237.250000,12.990000,0.190000,8.000000,670.000000,0.000000
max,144.000000,7.200766e+06,125.000000,35000.000000,20.000000,0.660000,30.000000,850.000000,1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  float64
 1   person_gender                   45000 non-null  object
 2   person_education                45000 non-null  object
 3   person_income                   45000 non-null  float64
 4   person_emp_exp                  45000 non-null  int64
 5   person_home_ownership           45000 non-null  object
 6   loan_amnt                       45000 non-null  float64
 7   loan_intent                     45000 non-null  object
 8   loan_int_rate                   45000 non-null  float64
 9   loan_percent_income             45000 non-null  float64
 10  cb_person_cred_hist_length      45000 non-null  float64
 11  credit_score                    45000 non-null  int64
 12  previous_loan_defaults_on_file  45000 non-null  object
 13  loan_status                     45000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 4.8+ MB

In [5]:
df.isna().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     0
loan_percent_income               0
cb_person_cred_hist_length        0
credit_score                      0
previous_loan_defaults_on_file    0
loan_status                       0
dtype: int64

#### Encodding
* using one-hot encoding
* using min-max scaler for the normalization make them between [0,1]
* due to the standardization teqhnicue here we don't use it becaueof the  complexity -> N(0,1) not desired

In [6]:
"""
one hot encoding and removing the first generated column for the categorical
format (reduce the duplicate data and improve speed)
"""
df_encodded = pd.get_dummies(df, drop_first=True).astype(float)
df_encodded

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status,person_gender_male,...,person_education_Master,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,previous_loan_defaults_on_file_Yes
0,22.0,71948.0,0.0,35000.0,16.02,0.49,3.0,561.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,21.0,12282.0,0.0,1000.0,11.14,0.08,2.0,504.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,25.0,12438.0,3.0,5500.0,12.87,0.44,3.0,635.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,23.0,79753.0,0.0,35000.0,15.23,0.44,2.0,675.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,24.0,66135.0,1.0,35000.0,14.27,0.53,4.0,586.0,1.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,47971.0,6.0,15000.0,15.66,0.31,3.0,645.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
44996,37.0,65800.0,17.0,9000.0,14.07,0.14,11.0,621.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
44997,33.0,56942.0,7.0,2771.0,10.02,0.05,10.0,668.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
44998,29.0,33164.0,4.0,12000.0,13.23,0.36,6.0,604.0,1.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
44999,24.0,51609.0,1.0,6665.0,17.05,0.13,3.0,628.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
def min_max_norm(df:pd.DataFrame):
    """
        if we use the categorical columnns here to if its all 1 or 0 it leed us to error
        but if there isnt it remains unchanged
    """
    df = (df - df.min())/ (df.max()- df.min())
    return df

scaled_norm_df = min_max_norm(df_encodded)
# scaled_norm_df.describe()
scaled_norm_df["person_age"]

0        0.016129
1        0.008065
2        0.040323
3        0.024194
4        0.032258
           ...
44995    0.056452
44996    0.137097
44997    0.104839
44998    0.072581
44999    0.032258
Name: person_age, Length: 45000, dtype: float64

## Model

In [8]:
from sklearn.model_selection import train_test_split

class Node(object):
    def __init__(self):
        self.r = None
        self.l = None
        self.feature = None
        self.tres = None
        self.label = None


class DecisionTree(object):
    def __init__(self,max_depth , min_samples_split, criterion):
        self.root = Node()
        self.max_depth = max_depth
        self.min_samples_split = min_samples_split
        self.criterion = criterion
        # turning it to numpy for faster and smoother operations 
        # self.X_train = X_train.to_numpy()
        # self.X_test = X_test.to_numpy()
        # self.y_train = y_train.to_numpy()
        # self.y_test = y_test.to_numpy()
        self.max_depth = max_depth
        self.min_samples_split = min_samples_split


    def calculate_entropy(self , y:pd.DataFrame):
        num_class = len(pd.unique(y))
        # in case if there is only one class here
        if num_class != 2:
            return 0
        p_i = y.value_counts()/len(y)
        return - np.sum(p_i * np.log2(p_i))
        

    def calculate_gini(self ,y:pd.DataFrame):
        num_class = len(pd.unique(y))
        # in case if there is only one class here
        if num_class != 2:
            return 0
        p_i= y.value_counts()/len(y)
        return  1- np.sum(np.power(p_i ,2))


    def information_gain(self , X:pd.DataFrame , y , feature, criterion = "entropy"):
        """
        calculated the best split withrespect to the given feature 
        return: best information_gain and  threshold for the feature on the node
        """
        f_x = X[feature]
        X_feature_sorted = np.sort(f_x.to_numpy()).astype(np.float32)
    
        # getting every possible treshold for mean between the sort values
        tresholds = (X_feature_sorted[1:] + X_feature_sorted[:-1])/2
        father_criterion = self.calculate_entropy(y) if criterion == "entropy" else self.calculate_gini(y)
        best_tres = 0.5
        best_ig = -np.inf
        for index in range(0,len(tresholds),int(len(tresholds)/10)if int(len(tresholds)/10)>0 else 1):
            tres = tresholds[index]
            maskl , maskr = f_x <= tres , f_x > tres
            left_y, right_y = y[maskl] , y[maskr]
            left_criterion = self.calculate_entropy(left_y) if criterion == "entropy" else self.calculate_gini(left_y)
            right_criterion = self.calculate_entropy(right_y) if criterion == "entropy" else self.calculate_gini(right_y)
            weigthed_lc = left_criterion  * (len(left_y) /  len(y))
            weigthed_rc = right_criterion  * (len(right_y) /  len(y))
            temp_ig = father_criterion - (weigthed_lc + weigthed_rc)
            if temp_ig > best_ig:
                best_tres = tres
                best_ig = temp_ig
        return  best_ig , best_tres

    
    def best_split(self, X:pd.DataFrame , y:pd.DataFrame):
        """
        finding the best columns  and  threshold for it along all the possible columns
        return : best_columns  and its best threshold
        """
        columns = X.columns.tolist()
        best_col = None
        best_tres = -np.inf
        best_ig = -np.inf
        for col in columns:
            ig, tres = self.information_gain(X,y,col,criterion=self.criterion)
            if ig > best_ig:
                best_ig= ig
                best_tres = tres
                best_col = col
        return best_col , best_tres
        

    def build_tree(self,X , y, curr_node:Node, max_depth, min_samples_split):
        if (max_depth <= 0) or (len(X) < min_samples_split) or (len(X.columns.tolist()) == 0):
            curr_node.label= y.mode()[0]
            print(f"{curr_node.label=}")
            return 
            # leaf
            # labeling the most frequency class to the leaf
        else:
            # not leaf
            feature , treshold= self.best_split(X,  y)
            # logging the information in each node
            curr_node.l = Node()
            curr_node.r = Node()
            curr_node.feature = feature
            print(f"{feature=}")
            curr_node.tres = treshold
            # splittig
            X_l , y_l = X[X[feature] <= treshold] , y[X[feature] <= treshold]
            X_r , y_r = X[X[feature] > treshold] , y[X[feature] > treshold]
            X_l = X_l.drop([feature], axis = 1)
            X_r = X_r.drop([feature], axis = 1)
            # building the left and right node
            self.build_tree(X_l ,y_l , curr_node.l , max_depth-1 , min_samples_split)
            self.build_tree(X_r ,y_r , curr_node.r , max_depth-1 , min_samples_split)


    def fit(self,X , y):
        print("Training the Model")
        self.build_tree(X , y , self.root ,self.max_depth , self.min_samples_split)


    def predict(self,X:pd.DataFrame):
        y= []
        # print(len(X))
        for index in range(len(X)):
            row = X.iloc[index]
            # print(row)
            temp_node =self.root
            # travering to reach the leaf
            while temp_node.feature:
                # print(1)
                feature = temp_node.feature
                tres = temp_node.tres
                if row[feature] <= tres:
                    temp_node = temp_node.l
                else:
                    temp_node = temp_node.r
            # found the leaf
            y.append(temp_node.label)
        return np.array(y)


    def evaluate(self,y_true:np.array, y_pred:np.array):
        """
        the inputs most be 1D numpy array
        return : the accuracy
        """
        TP = np.sum((y_pred == 1) & (y_true == 1))
        FP = np.sum((y_pred == 1) & (y_true == 0))
        FN = np.sum((y_pred == 0) & (y_true == 1))
        # accuracy
        match_number =0
        for i in range(len(y_true)):
            if y_true[i] == y_pred[i]:
                match_number  +=1
        accuracy = match_number / len(y_true)
        # precision
        precision = TP / (TP + FP + 1e-8) 
        # recall
        recall = TP / (TP + FN + 1e-8) 
        # F1-score
        f1score = 2 * (precision * recall) / (precision + recall + 1e-8)  
        print("=====================")
        print(f"{accuracy=}")
        print(f"{precision=}")
        print(f"{recall=}")
        print(f"{f1score=}")
        print("=====================")
    
    
    def find_index_val(self,x,y,val1,val2):
        ans = 0
        for i in range(len(x)):
            if x[i] == val1 and y[i] == val2:
                ans+=1
        return ans

## Training phase

In [9]:
data =  scaled_norm_df
y = data["loan_status"]
columns = data.columns.to_list()
columns.remove("loan_status")
X = data[columns]
# using seed 42 for natural noise
X_train , X_test , y_train ,y_test = train_test_split(X ,
                                                    y, 
                                                    test_size=0.2 ,  
                                                    random_state=42, 
                                                    shuffle=True)
model= DecisionTree(max_depth=4,min_samples_split=500,criterion="entropy")
model.fit(X_train ,y_train)

Training the Model
feature='previous_loan_defaults_on_file_Yes'
feature='loan_percent_income'
feature='loan_int_rate'
feature='person_income'
curr_node.label=0.0
curr_node.label=0.0
feature='person_home_ownership_RENT'
curr_node.label=1.0
curr_node.label=1.0
feature='person_home_ownership_RENT'
feature='person_income'
curr_node.label=1.0
curr_node.label=0.0
feature='person_income'
curr_node.label=1.0
curr_node.label=1.0
feature='person_age'
curr_node.label=0.0
feature='person_income'
curr_node.label=0.0
feature='person_emp_exp'
curr_node.label=0.0
curr_node.label=0.0

In [10]:
y_predict = model.predict(X=X_test)
model.evaluate(y_test.to_numpy(), y_predict)

=====================
accuracy=0.895
precision=0.8726382085313322
recall=0.6203980099471622
f1score=0.7252108122364873
=====================

## inference with sklearn

In [11]:
from sklearn.tree import DecisionTreeClassifier
sklearn_model =  DecisionTreeClassifier(criterion="entropy" , max_depth=4 , random_state=42)
sklearn_model.fit(X_train ,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4, random_state=42)

In [12]:
sklearn_predicted_values = sklearn_model.predict(X_test)
sklearn_predicted_values

array([0., 0., 1., ..., 0., 0., 0.])

In [13]:
from sklearn.metrics import accuracy_score ,precision_score,recall_score, f1_score
print(f"accuracy sklearn: {accuracy_score(y_test , sklearn_predicted_values)}")
print(f"preccision sklearn: {precision_score(y_test , sklearn_predicted_values)}")
print(f"recall sklearn: {recall_score(y_test , sklearn_predicted_values)}")
print(f"f1-score sklearn: {f1_score(y_test , sklearn_predicted_values)}")

accuracy sklearn: 0.9083333333333333
preccision sklearn: 0.8580060422960725
recall sklearn: 0.7064676616915423
f1-score sklearn: 0.7748976807639835

> conclusion:<br>
> * in total sklearn is  slightly better in training time for brancg pruning and ...
> * our model scores can be better if  we use less popularity per node